name: DND CI

on:
    push:
        branches:
            - main
        paths:
            - "dnd/**"
            - ".github/workflows/dnd.yml"
    pull_request:
        paths:
            - "dnd/**"
            - ".github/workflows/dnd.yml"
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    lint:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./dnd
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 22.14.0
                  cache: "yarn"
                  cache-dependency-path: dnd/yarn.lock

            - run: yarn install --frozen-lockfile
            - run: yarn lint

    build:
        runs-on: ubuntu-latest
        needs: lint
        defaults:
            run:
                working-directory: ./dnd
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 22.14.0
                  cache: "yarn"
                  cache-dependency-path: dnd/yarn.lock

            - run: yarn install --frozen-lockfile
            - run: yarn build

            - uses: actions/upload-pages-artifact@v3
              with:
                  path: dnd/dist

    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - id: deployment
              uses: actions/deploy-pages@v4
